
.rotateslider-container {
  position: relative;
  width: 100%;
  height: 440px;
  margin-left: auto;
  margin-right: auto;
}

.rotateslider-container .rotateslider-item {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%) scale(0.45);
  -ms-transform: translateY(-50%) translateX(-50%) scale(0.45);
  transform: translateY(-50%) translateX(-50%) scale(0.45);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.rotateslider-container .rotateslider-item.next {
  left: 88%;
  opacity: 1;
}

.rotateslider-container .rotateslider-item.prev {
  left: 12%;
  opacity: 1;
}

.rotateslider-container .rotateslider-item.now {
  opacity: 1;
  top: 50%;
  left: 50%;
  z-index:1;
  -webkit-transform: translateY(-50%) translateX(-50%) scale(.89);
  -ms-transform: translateY(-50%) translateX(-50%) scale(.89);
  transform: translateY(-50%) translateX(-50%) scale(.89);
}

.rotateslider-container .arrow {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    text-align: center;
    top: calc(50% - 20px);
}

.rotateslider-container .arrow.left { left: -120px; }

.rotateslider-container .arrow.right { right: -120px; }
