@charset "utf-8";
/* CSS Document */
.bg{
	position:fixed;
	background:url(../img/serv_bg.jpg) 50%;
	width:100%;
	height:100%;
}
.main_bg {
	width:100%;
	height:100vh;
	float:left;
	
}
.slide_navi {
 	padding: 0;
    margin: 0;
    width: 300px;
    float: left;
    margin-left: 30px;
    margin-top: 10vh;
    position: absolute;
    z-index: +3;
}
.slide_navi li {
	display: list-item;
	margin: 5px 0;
}
.buble {
	width:20px;
	height:20px;
	background:#ddd;
	border-radius:50%;
	position:relative;
}
.buble:hover {
}
.buble:hover:before {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	background: #635f5f;
	border-radius: 50%;
	left: 5px;
	top: 5px;
	cursor:pointer;
}
.opt0 .optshow {
	display:none;
}
.opt0:hover .optshow {
	display:block;
	width:200px;
	position:absolute;
	/*animation-duration: 1s;
  animation-name: slidein;*/
	padding-left:40px;
	cursor:pointer;
}
/*@keyframes slidein {
  from {
    margin-left: 0%;
  }

  to {
    margin-left: 100%;
  }
}*/
.contntt {
	position:absolute;
	right:0px;
	top:60vh;
	width:100%;
}
.targetDiv {
	display:none;
}
.shw1 {
	display:block;
}
.titt {
	position: absolute;
	top: 32%;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 60%;
	color: #fff;
	text-align: center;
}

.abotcont{
	width:100%;
	display:inline-block;
	height:100%;
}