
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>:: NGO ::</title>

<!--Favicon-->
<link rel="shortcut icon" href="favicon.ico">
<link rel="icon" href="favicon.ico" type="image/x-icon">

<!--Fonts-->
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500' rel='stylesheet' type='text/css'>

<!--CSS-->
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body id="body" data-ng-app="contactApp" class="dark-theme pink-color">

<!--Preloader--> 
<!--<div class="preloader-it">
  <div class="la-anim-1"></div>
</div>--> 
<!--/Preloader--> 

<!--Navigation-->
<div class="menu-wrap">
  <nav class="menu">
    <div id="menu" class="icon-list">
      <div data-menuanchor="home_sec" class="active"><a class="menu-link" href="#home_sec"><span>home</span></a></div>
      <div data-menuanchor="about_sec"><a class="menu-link" href="about_ncn.html"><span>about</span></a></div>
      <div data-menuanchor="services_sec"><a class="menu-link" href="#services_sec"><span>services</span></a></div>
      <div data-menuanchor="contact_sec"><a href="#contact_sec"><span>contact</span></a></div>
      <!--<div data-menuanchor="features_sec"><a class="menu-link" href="#features_sec"><span>features</span></a></div>
      <div data-menuanchor="video_sec"><a class="menu-link" href="#video_sec"><span>video</span></a></div>
      <div data-menuanchor="portfolio_sec"><a class="menu-link" href="#portfolio_sec"><span>portfolio</span></a></div>
      <div data-menuanchor="team_sec"><a href="#team_sec"><span>team</span></a></div>
      
      <div data-menuanchor="googlemap_sec"><a href="#googlemap_sec"><span>google map</span></a></div>--> 
    </div>
  </nav>
  
  <!--Twitter Sec--> 
  <!--<div class="twitter-wrap"> <span class="twiter-ico-wrap"> <i class="fa fa-twitter"></i> </span>
    <div id="tweecool"></div>
  </div>--> 
  <!--/Twitter Sec--> 
</div>
<div class="right-patch">
  <div class="copywrite-wrap">
    <p class="copywrite"><b>Company Name &copy; 2016.</b></p>
  </div>
</div>
<button class="menu-button hamburger hamburger--collapse" id="open-button"> <span class="hamburger-box"> <span class="hamburger-inner"></span> </span> </button>

<!--/Navigation--> 

<!--Main Content-->
<div id="fullpage" class="content-wrap"> 
  
  <!--Home Sec-->
  
  <section class="section intro-sec text-center parallax" id="section0">
    <div class="intro-sec-wrap sec-pad"> 
      
      <!--Logo-->
      <div class="logo"> <img src="images/logo.png" alt="logo"/> </div>
      <!--/Logo-->
      <!--Login-->
      <div class="login_reg">
      <span><a href="#">Login</a></span>
      <span><a href="#">Register</a></span>
      </div>
      <!--End-->
      
      <div class="container">
        <h5> 
          <!--Counter--> 
          <!--<span id="countdown" class="animated"> <span class="days-wrap"> <span class="days">00</span> <span>days</span> <span class="time-sep">:</span> </span> <span class="hours-wrap"> <span class="hours">00</span> <span>hours</span> <span class="time-sep">:</span> </span> <span class="minutes-wrap"> <span class="minutes">00</span> <span>min</span> <span class="time-sep">:</span> </span> <span class="seconds-wrap"> <span class="seconds">00</span> <span>sec</span> </span> </span>--> 
          <!--Counter--> 
        </h5>
        <div id="nt-title-container">
          <ul id="nt-title">
            <li>
              <h1>Empower companies for meaningful social development<br>
                <i>"Values create value"</i></h1>
            </li>
            <li>
              <h1>Empower companies for meaningful social development<br>
                <i>"Values create value"</i></h1>
            </li>
          </ul>
        </div>
        <!--<p class="lead">We are coming soon with our brand new website.</p>
        <span class="btn btn-default md-trigger margin-top-85 margin-top-md-60 margin-top-sm-30" data-modal="modal-2"> <span class="mask"></span> <span class="btn-label"> <b>Notify me</b> </span> </span>--> </div>
      
      <!--Social Icons-->
      <ul class="social-icons col-sm-4 pad-zero">
        <li>
          <div> <a href="#" class="social-icon"> <span class="fa fa-facebook"></span> </a> </div>
        </li>
        <li>
          <div> <a href="#" class="social-icon"> <span class="fa fa-twitter"></span> </a> </div>
        </li>
        <li>
          <div> <a href="#" class="social-icon"> <span class="fa fa-linkedin"></span> </a> </div>
        </li>
        <li>
          <div> <a href="#" class="social-icon"> <span class="fa fa-dropbox"></span> </a> </div>
        </li>
      </ul>
      <!--/Social Icons-->
      <div class="clearfix"></div>
    </div>
  </section>
  <!--/Home Sec--> 
  
  <!--About Sec-->
  <section class="section about-sec parallax" id="section1">
    <div class="about-sec-wrap sec-pad-top sec-pad-bottom-sm">
      <div class="container"> 
        <!--<h2 class="text-center wow fadeInUp" data-wow-duration=".8s">We work for a <i>purpose</i> &amp; we believe in it.</h2>--> 
        <!--<div class="row">
          <div class="col-sm-6">
            <p class="margin-bottom-30 wow fadeInLeft" data-wow-duration=".8s"> Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
          </div>
          <div class="col-sm-6">
            <p class="margin-bottom-30 wow fadeInRight" data-wow-duration=".8s"> Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
          </div>
        </div>-->
        <div class="about-features margin-top-27">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <div class="first-circle hvr-radial-out wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="900ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 900ms; animation-name: fadeInLeft;"> Corporate Social Responsibility (CSR) </div>
              <div class="first-circle ml40minus hvr-radial-out wow fadeInRight animated" data-wow-duration="500ms" data-wow-delay="900ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 900ms; animation-name: fadeInRight;"> National CSR Network- A Catalyst </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/About Sec--> 
  
  
  <!--Features Sec-->
  <section class="section features-sec parallax" id="section3">
    <div class="features-sec-wrap sec-pad">
      <div class="container">
        <h2 class="text-center wow fadeInUp" data-wow-duration=".8s">How It Works</h2>
        <div class="features-wrap">
          <div class="row-wrap">
            <div class="col-lg-3  col-xs-6">
              <div class="wow bounceIn fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="900ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 900ms; animation-name: bounceIn;">
                <div class="works"> <a class="example-image-link img-responsive" href="img/project1.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."> <img class="example-image" src="img/project1.jpg" alt=""/></a> </div>
              </div>
            </div>
            <div class="col-lg-3  col-xs-6">
              <div class="wow bounceIn fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="900ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 900ms; animation-name: bounceIn;">
                <div class="works"> <a class="example-image-link img-responsive" href="img/project1.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."> <img class="example-image" src="img/project1.jpg" alt=""/></a> </div>
              </div>
            </div>
            <div class="col-lg-3  col-xs-6">
              <div class="wow bounceIn fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="900ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 900ms; animation-name: bounceIn;">
                <div class="works"> <a class="example-image-link img-responsive" href="img/project1.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."> <img class="example-image" src="img/project1.jpg" alt=""/></a> </div>
              </div>
            </div>
            <div class="col-lg-3  col-xs-6">
              <div class="wow bounceIn fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="900ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 900ms; animation-name: bounceIn;">
                <div class="works"> <a class="example-image-link img-responsive" href="img/project1.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."> <img class="example-image" src="img/project1.jpg" alt=""/></a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/Features Sec--> 
  <!--Contact Sec-->
  <section class="section contact-sec parallax" id="section7">
    <div class="contact-sec-wrap sec-pad-top sec-pad-bottom-sm wow fadeInUp" data-wow-duration=".8s">
      <div class="container" data-ng-controller="ContactController">
        <h2 class="text-center">Hello <span  data-ng-bind="formData.inputName||'friend'"></span>, We'd love to<br/>
          hear from you.</h2>
        <form data-ng-submit="submit(contactform, $event)"  name="contactform"  method="post" class="row form-horizontal" role="form">
          
          <!--Address-->
          <div class="contact-add col-md-2 col-sm-6 col-xs-6 margin-top-xs-15">
            <h6>contact</h6>
            <p>Lorem ipsun Doller is the.</p>
            <a href="mailto:creativehi@coyote.com" target="_blank">creativehi@domain.com</a> <a href="callto:0000000000" target="_blank">+91 00000 00000</a> </div>
          <!--/Address--> 
          
          <!--Contact Form-->
          <div class="contact-form-wrap col-md-offset-1 col-md-6 col-sm-12 ">
            <div class="col-sm-6 col-xs-6 pad-left-zero">
              <div class="form-group" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
                <div class="input-wrap">
                  <input autocomplete="off" data-ng-model="formData.inputName" type="text" class="form-control input__field input " id="inputName" name="inputName" placeholder="Name" required>
                </div>
              </div>
              <div class="form-group" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
                <div class="input-wrap">
                  <input autocomplete="off" data-ng-model="formData.inputEmail" type="email" class="form-control input input__field " placeholder="Email" id="inputEmail" name="inputEmail" required>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xs-6 pad-right-zero">
              <div class="form-group" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
                <div class="input-wrap">
                  <textarea data-ng-model="formData.inputMessage" class="form-control input input__field " rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-xs-12 pad-zero">
              <div class="align-center">
                <button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled"> <span class="mask"></span> <span>send message</span> </button>
              </div>
            </div>
            <p class="form-msg" data-ng-class="result">{{ resultMessage }}</p>
          </div>
          <!--/Contact Form--> 
          
          <!--Social Connenctivity-->
          <div class="connect-add col-md-offset-1 col-md-2 col-sm-6 col-xs-6 margin-top-xs-15">
            <h6>connect</h6>
            
            <!--Social Links-->
            <ul class="social-links col-sm-4 pad-zero">
              <li> <a href="#" class="social-link"> facebook </a> </li>
              <li> <a href="#" class="social-link"> twitter </a> </li>
              <li> <a href="#" class="social-link"> linkedin </a> </li>
            </ul>
            <!--/Social Links--> 
            
            <a class="gmap-link" href="https://www.google.com/maps/d/viewer?mid=z_gdBE8F4CM4.kd855LF8lFPo&amp;hl=en_US" target="_blank">
            <h6>google map</h6>
            </a> </div>
          <!-- /Social Connenctivity-->
          
        </form>
      </div>
    </div>
  </section>
  <!--/Contact Sec--> 
  
</div>
<!--/Main Content--> 

<!--Notify Popup-->
<div class="md-modal md-effect-2" id="modal-2">
  <div class="md-content notify-cmpt notify-form-type-3">
    <div class="md-content-wrap notify-wrap">
      <div class="md-close" id="notify_close"><span>X</span></div>
      <h2>Subscribe & Stay Updated</h2>
      <p class="margin-top-xs-20">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
      <form id="notifyMe" class="contact-form" action="" method="post">
        <div class="input-wrap">
          <input  data-ng-model="notify" class="col-lg-10  align-center form-control input notify-input-box" name="email" placeholder="Your Email ID"  type="email">
          <div class="clearfix"></div>
          <button type="submit"  class="btn btn-default progress-button btn-submit align-center"> Notify me <span class="mask"></span> </button>
        </div>
      </form>
    </div>
    <div class="md-opac"></div>
  </div>
</div>
<div class="md-overlay"></div>
<!--/Notify Popup--> 

<!--Style-customizer --> 
<!--<div id="app_customizer" class="app-customizer"> <a href="#" class="app-customizer-toggle"> <i class="fa fa-gear"></i> </a>
  <div class="colors"> <span id="pink_pick"></span> <span id="blue_pick"></span> <span id="green_pick"></span> <span id="orange_pick"></span> </div>
</div>--> 
<!-- /Style-customizer --> 

<!-- Scripts --> 
<script src="js/jquery-1.11.3.min.js"></script> 
<script src="js/jquery-ui.min.js"></script> 
<script src="js/angular.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/modernizr.custom.js"></script> 
<script src="js/app.js"></script> 
<script src="js/lightbox-plus-jquery.min.js"></script><!--Gall--> 
<script src="js/controllers.js"></script> 
<script src="js/owl.carousel.min.js"></script> 
<script src="js/notifyMe.js"></script> 
<script src="js/froogaloop2.min.js"></script> 
<script src="js/wow.min.js"></script> 
<script src="js/jquery.fullpage.js"></script> 
<script src="js/lightgallery-all.js"></script> 
<script src="js/jquery.countdown.js"></script> 
<script src="js/jquery.newsTicker.js"></script> 
<script src="js/classie.js"></script> 
<script src="js/main.js"></script> 
<script src="js/jquery.rotateSlider.js"></script> 
<script src="js/modelclassie.js"></script> 
<script src="js/modalEffects.js"></script> 
<script src="js/jquery.xdomainrequest.min.js"></script> 
<script src="js/tweecool.js"></script> 
<script src="js/jquery.placeholder.js"></script> 
<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script> 
<script src="js/init.js"></script> 

<!--<script src="js/jquery-1.9.1.min.js"></script>-->
</body>
</html>
