<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>National CSR Network</title>

<!--Favicon-->
<link rel="icon" href="img/water.png" type="image/x-icon">

<!--Fonts-->
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500' rel='stylesheet' type='text/css'>
    <link href='fonts/avante' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<!--CSS-->
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/csshake.min.css" />
<script>
    /*function check(e)
    {
    alert(e.keyCode);
    }*/
    document.onkeydown = function(e) {
            if (e.ctrlKey && (e.keyCode === 67 || e.keyCode === 86 || e.keyCode === 85 || e.keyCode === 117)) {//Alt+c, Alt+v will also be disabled sadly.
                alert('not allowed');
            }
            return false;
    };
    </script>
</head>

<body id="body" data-ng-app="contactApp" class="dark-theme pink-color">

<!--Preloader-->
<!--<div class="preloader-it">
  <div class="la-anim-1"></div>
</div>-->
<!--/Preloader--> 

<!--Navigation-->
<div class="menu-wrap">
  <nav class="menu">
    <div id="menu" class="icon-list">
      <div class="active"><a class="menu-link" href="index.html"><span>Home</span></a></div>
      <div ><a class="menu-link" href="networking_forum.html"><span>Networking Forum</span></a></div>
      <div ><a class="menu-link" href="exposure.html"><span>Exposure</span></a></div>
      <div ><a href="initiatives.html"><span>Initiatives</span></a></div>
        <div ><a href="about_ncn.html"><span>About NCN</span></a></div>
        <div ><a href="gallery.html"><span>Gallery</span></a></div>
         <div ><a href="newsroom.html"><span>Newsroom</span></a></div>
      <!--<div data-menuanchor="features_sec"><a class="menu-link" href="#features_sec"><span>features</span></a></div>
      <div data-menuanchor="video_sec"><a class="menu-link" href="#video_sec"><span>video</span></a></div>
      <div data-menuanchor="portfolio_sec"><a class="menu-link" href="#portfolio_sec"><span>portfolio</span></a></div>
      <div data-menuanchor="team_sec"><a href="#team_sec"><span>team</span></a></div>
      
      <div data-menuanchor="googlemap_sec"><a href="#googlemap_sec"><span>google map</span></a></div>-->
    </div>
  </nav>
  
  <!--Twitter Sec-->
  <!--<div class="twitter-wrap"> <span class="twiter-ico-wrap"> <i class="fa fa-twitter"></i> </span>
    <div id="tweecool"></div>
  </div>-->
  <!--/Twitter Sec--> 
</div>
<div class="right-patch">
  <div class="copywrite-wrap">
   
  </div>
</div>
<button class="menu-button hamburger hamburger--collapse" id="open-button"> <span class="hamburger-box"> <span class="hamburger-inner"></span> </span> </button>

<!--/Navigation--> 

<!--Main Content-->
<div id="fullpage" class="content-wrap"> 
  
  <!--Home Sec-->
  

  <section class="section intro-sec text-center parallax" id="section0">
    <div class="intro-sec-wrap sec-pad"> 
      
      <!--Logo-->
       <div class="logo"> <img src="img/water.png" alt="logo" style="    margin-left: -321px; max-width: 50%;" /> </div>
      <!--/Logo-->
      <div class="login_reg">
 
  <span><a href="#">Subscribe</a></span>
  </div>
      <div class="container" style="margin-top: 222px;">
        <h5> 
          <!--Counter--> 
          <!--<span id="countdown" class="animated"> <span class="days-wrap"> <span class="days">00</span> <span>days</span> <span class="time-sep">:</span> </span> <span class="hours-wrap"> <span class="hours">00</span> <span>hours</span> <span class="time-sep">:</span> </span> <span class="minutes-wrap"> <span class="minutes">00</span> <span>min</span> <span class="time-sep">:</span> </span> <span class="seconds-wrap"> <span class="seconds">00</span> <span>sec</span> </span> </span>--> 
          <!--Counter--> 
        </h5>
        <div id="nt-title-container">
          <ul id="nt-title" class="slidrr">
            <li>
                <h1 ><span style="font-family: 'Raleway', sans-serif; font-size:40px">Empower companies for meaningful social development</span><br>
                <i><span class="" style="font-family: 'Raleway', sans-serif; padding:3px 15px; height:50px; line-height:45px; margin:0 1px; background:rgba(8, 155, 197, 0.56)">V</span>
                <span class="" style="font-family: 'Raleway', sans-serif; padding:3px 15px; height:50px; line-height:45px; margin:0 1px; background:rgba(8, 155, 197, 0.56)">a</span>
                <span class="" style="font-family: 'Raleway', sans-serif; padding:3px 15px; height:50px; line-height:45px; margin:0 1px; background:rgba(8, 155, 197, 0.56)">l</span>
                <span class="" style="font-family: 'Raleway', sans-serif; padding:3px 15px; height:50px; line-height:45px; margin:0 1px; background:rgba(8, 155, 197, 0.56)">u</span>
                <span class="" style="font-family: 'Raleway', sans-serif; padding:3px 15px; height:50px; line-height:45px; margin:0 1px; background:rgba(8, 155, 197, 0.56)">e</span>
                <span class="" style="font-family: 'Raleway', sans-serif; padding:3px 15px; height:50px; line-height:45px; margin:0 1px; background:rgba(8, 155, 197, 0.56)">s</span> 
                <span class="preview-item shake-little shake-constant shake-constant--hover" style="padding:3px 0px; font-family: 'Conv_FREESCPT'; font-size:70px; text-transform:lowercase !important; margin:0 0px;">c</span>
                <span class="preview-item shake-little shake-constant shake-constant--hover" style="padding:3px 0px; font-family: 'Conv_FREESCPT'; font-size:70px;  text-transform:lowercase !important; margin:0 0px;">r</span>
                <span class="preview-item shake-little shake-constant shake-constant--hover" style="padding:3px 0px; font-family: 'Conv_FREESCPT'; font-size:70px;  text-transform:lowercase !important;  margin:0 0px;">e</span>
                <span class="preview-item shake-little shake-constant shake-constant--hover" style="padding:3px 0px; font-family: 'Conv_FREESCPT'; font-size:70px;  text-transform:lowercase !important;  margin:0 0px;">a</span>
                <span class="preview-item shake-little shake-constant shake-constant--hover" style="padding:3px 0px; font-family: 'Conv_FREESCPT'; font-size:70px;  text-transform:lowercase !important; margin:0 0px;">t</span>
                <span class="preview-item shake-little shake-constant shake-constant--hover" style="padding:3px 0px; font-family: 'Conv_FREESCPT'; font-size:70px;  text-transform:lowercase !important; margin:0 0px;">e</span> 
                <span class="" style="font-family: 'Raleway', sans-serif; padding:3px 15px; height:50px; line-height:45px; margin:0 1px; background:rgba(8, 155, 197, 0.56)">v</span>
                <span class="" style="font-family: 'Raleway', sans-serif; padding:3px 15px; height:50px; line-height:45px; margin:0 1px; background:rgba(8, 155, 197, 0.56)">a</span>
                <span class="" style="font-family: 'Raleway', sans-serif; padding:3px 15px; height:50px; line-height:45px; margin:0 1px; background:rgba(8, 155, 197, 0.56)">l</span>
                <span class="" style="font-family: 'Raleway', sans-serif; padding:3px 15px; height:50px; line-height:45px; margin:0 1px; background:rgba(8, 155, 197, 0.56)">u</span>
                <span class="" style="font-family: 'Raleway', sans-serif; padding:3px 15px; height:50px; line-height:45px; margin:0 1px; background:rgba(8, 155, 197, 0.56)">e</span></i></h1>
            </li>
            <li>
              <h1 style="font-family: 'Raleway', sans-serif; font-size:40px">Empower companies for meaningful social development<br>
                <i><span class="" style=" padding:3px 15px; height:50px; line-height:45px; margin:0 1px; background:rgba(8, 155, 197, 0.56)">V</span>
                <span class="" style="padding:3px 15px; height:50px; line-height:45px; margin:0 1px; background:rgba(8, 155, 197, 0.56)">a</span>
                <span class="" style="padding:3px 15px; height:50px; line-height:45px; margin:0 1px; background:rgba(8, 155, 197, 0.56)">l</span>
                <span class="" style="padding:3px 15px; height:50px; line-height:45px; margin:0 1px; background:rgba(8, 155, 197, 0.56)">u</span>
                <span class="" style="padding:3px 15px; height:50px; line-height:45px; margin:0 1px; background:rgba(8, 155, 197, 0.56)">e</span>
                <span class="" style="padding:3px 15px; height:50px; line-height:45px; margin:0 1px; background:rgba(8, 155, 197, 0.56)">s</span> 
                <span class="preview-item shake-little shake-constant shake-constant--hover" style="padding:3px 0px; font-family: 'Conv_FREESCPT'; font-size:70px; text-transform:lowercase !important; margin:0 0px;">c</span>
                <span class="preview-item shake-little shake-constant shake-constant--hover" style="padding:3px 0px; font-family: 'Conv_FREESCPT'; font-size:70px;  text-transform:lowercase !important; margin:0 0px;">r</span>
                <span class="preview-item shake-little shake-constant shake-constant--hover" style="padding:3px 0px; font-family: 'Conv_FREESCPT'; font-size:70px;  text-transform:lowercase !important;  margin:0 0px;">e</span>
                <span class="preview-item shake-little shake-constant shake-constant--hover" style="padding:3px 0px; font-family: 'Conv_FREESCPT'; font-size:70px;  text-transform:lowercase !important;  margin:0 0px;">a</span>
                <span class="preview-item shake-little shake-constant shake-constant--hover" style="padding:3px 0px; font-family: 'Conv_FREESCPT'; font-size:70px;  text-transform:lowercase !important; margin:0 0px;">t</span>
                <span class="preview-item shake-little shake-constant shake-constant--hover" style="padding:3px 0px; font-family: 'Conv_FREESCPT'; font-size:70px;  text-transform:lowercase !important; margin:0 0px;">e</span> 
                <span class="" style="padding:3px 15px; height:50px; line-height:45px; margin:0 1px; background:rgba(8, 155, 197, 0.56)">v</span>
                <span class="" style="padding:3px 15px; height:50px; line-height:45px; margin:0 1px; background:rgba(8, 155, 197, 0.56)">a</span>
                <span class="" style="padding:3px 15px; height:50px; line-height:45px; margin:0 1px; background:rgba(8, 155, 197, 0.56)">l</span>
                <span class="" style="padding:3px 15px; height:50px; line-height:45px; margin:0 1px; background:rgba(8, 155, 197, 0.56)">u</span>
                <span class="" style="padding:3px 15px; height:50px; line-height:45px; margin:0 1px; background:rgba(8, 155, 197, 0.56)">e</span></i></h1>
            </li>
          </ul>
        </div>
        <!--<p class="lead">We are coming soon with our brand new website.</p>
        <span class="btn btn-default md-trigger margin-top-85 margin-top-md-60 margin-top-sm-30" data-modal="modal-2"> <span class="mask"></span> <span class="btn-label"> <b>Notify me</b> </span> </span>--> </div>
      
      <!--Social Icons-->
      <ul class="social-icons">
        <li><a href="https://www.linkedin.com/in/national-csr-network-9247b3101?trk=nav_responsive_tab_profile"><i class="fa fa-linkedin fa-3x"></i></a></li>
        <li><a href="https://www.facebook.com/nationalcsrnetwork"><i class="fa fa-facebook fa-3x"></i></a></li>
        <li><a href="https://twitter.com/network_csr"><i class="fa fa-twitter fa-3x"></i></a></li>
      </ul>    

      <div class="text-center">
      <a href="#section1">
      <i class="fa fa-chevron-down fa-3x" aria-hidden="true" style="padding-top: 162px;"></i>
	  <!--<div class="mouseline" style="transition: all 0.5s ease; opacity: 1;"></div>-->
      </a>
      </div>
      <!--/Social Icons-->
      <div class="clearfix"></div>
    </div>
  </section>
  <!--/Home Sec--> 
  
  <!--About Sec-->
  <section class="section about-sec parallax" id="section1">
    <div class="about-sec-wrap sec-pad-top sec-pad-bottom-sm">
      <div class="container">
        <!--<h2 class="text-center wow fadeInUp" data-wow-duration=".8s">We work for a <i>purpose</i> &amp; we believe in it.</h2>-->
        <!--<div class="row">
          <div class="col-sm-6">
            <p class="margin-bottom-30 wow fadeInLeft" data-wow-duration=".8s"> Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
          </div>
          <div class="col-sm-6">
            <p class="margin-bottom-30 wow fadeInRight" data-wow-duration=".8s"> Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
          </div>
        </div>-->
        <div class="about-features margin-top-27">
          <div class="row animatedParent" data-sequence="500">
          <div class="col-sm-12">
              <div class="messgg">
          <span>Enhance your Company's  reputation and brand </span>

          </div>
          
          
          <div class="col-md-8 col-md-offset-2">
          <div class="boxxbr">
                  <div class="csrboxxcirclesmll2" style="border: transparent;">
                    <p class="text-center " style="font-family: 'Raleway', sans-serif;font-size: 18px;"><!--<a href="networking.html" class="redm">Read</a>-->Company's commitment towards society while contributing to economic development</p>
                    <div class="seccircl2">
                      <h3>Corporate Social Responsibility (CSR)</h3>
                    </div>
                  </div>
                  <div class="csrboxxcirclesmll2 mlmin_60 " style="border: transparent;" >
                    <p class="text-center" style="font-family: 'Raleway', sans-serif;
    font-size: 18px;">Act as a catalyst to empower companies to integrate CSR in business</p>
                    <div class="seccircl2 bg_yellow">
                      <h3>National<br> CSR<br> Network<br>(NCN)</h3>
                    </div>
                  </div>
                </div>
          </div>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/About Sec--> 
   
  
  <!--Portfolio Sec-->
  <section class="section portfolio-sec parallax" id="section5">
    <div class="portfolio-sec-wrap sec-pad">
      <div class="container">
          <p style="text-align: center;
    font-size: 79px; font-family: 'Raleway', sans-serif;"> How we work</p>
        <h2 class="text-center wow fadeInUp" data-wow-duration=".8s">Our <i>Work</i>.</h2>
      </div>
      <div class="portfolio-wrap wow bounceIn" data-wow-duration=".8s"> 
        
        <!--Rotational Slider-->
        <div id="rot_slider" class="rotateslider-container">
          <div id="portfolio">
            <div class="rotateslider-item" data-src="img/csr.jpg"  > <a href="#"> <img src="img/csr.jpg" >
              <div class="hover"><span>+</span></div>
              </a>
              <!--<h6>Natural Life of Photographs, Instagram</h6>-->
            </div>
            <div class="rotateslider-item" data-src="img/csr_a.jpg"  > <a href="#"> <img src="img/csr_a.jpg" >
              <div class="hover"><span>+</span></div>
              </a>
              <!--<h6>Music for Class, Nativ Place</h6>-->
            </div>
            <div class="rotateslider-item" data-src="img/csr_b.jpg" > <a href="#"> <img src="img/csr_b.jpg" >
              <div class="hover"><span>+</span></div>
              </a>
              <!--<h6>Inside Studio, Dog.inc</h6>-->
            </div>
            
            
            <!--<div class="rotateslider-item" data-html="#video1" data-poster="img/project4.jpg" data-sub-html="<h6>Viva</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"> <a href="#"> <img src="img/project4.jpg" alt="project">
              <div class="hover"><span>+</span></div>
              </a>
              <h6>Fox in the Town, Viva</h6>
            </div>-->
            <!--<div class="rotateslider-item"  data-src="http://www.youtube.com/watch?v=Pq9yPrLWMyU" data-poster="img/project5.jpg" data-sub-html="<h6>Oh Girls</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"> <a href="#"> <img src="img/project5.jpg" alt="project">
              <div class="hover"><span>+</span></div>
              </a>
              <h6>Oh Girls</h6>
            </div>-->
            <!--<div class="rotateslider-item"  data-src="img/project6.jpg"  data-sub-html="<h6>Tattoo Diaries</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"> <a href="#"> <img src="img/project6.jpg" alt="project">
              <div class="hover"><span>+</span></div>
              </a>
              <h6>Tattoo Diaries</h6>
            </div>-->
          </div>
          <span class="arrow right js-rotateslider-arrow" data-action="next"><i class="fa fa-chevron-right fa-3x" aria-hidden="true"></i></span> <span class="arrow left js-rotateslider-arrow" data-action="prev"><i class="fa fa-chevron-left fa-3x" aria-hidden="true"></i></span> </div>
        <!--/Rotational Slider--> 
        
        
      </div>
    </div>
  </section>
  <!--/Portfolio Sec--> 
  
  <!--Team Sec-->
  
  <!--/Team Sec--> 
  
  <!--Contact Sec-->
  <section class="section contact-sec parallax" id="section7">
    <div class="contact-sec-wrap sec-pad-top sec-pad-bottom-sm wow " data-wow-duration=".8s">
      <div class="container" data-ng-controller="ContactController">
        <h2 class="text-center" style="font-size: 50px; font-family: 'Raleway', sans-serif;">Let's Talk !</h2>
        <div class="col-md-8 col-md-offset-1">

          <div class="advertise-section">
            <h2 class="advertise-section-title" style="    font-size: 23px;">Share</h2>
            <div>
              <div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
                      <div class="input-wrap">
                        <input autocomplete="off" data-ng-model="formData.inputName" type="text" class="form-control input__field input " id="inputName" name="inputName" placeholder="Name" required>
                      </div>
                    </div>
                  </div>
                    
           
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                  <div class="col-md-6">
                    <div class="form-group" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
                      <div class="input-wrap">
                        <input autocomplete="off" data-ng-model="formData.inputEmail" type="email" class="form-control input input__field " placeholder="Email" id="inputEmail" name="inputEmail" required>
                      </div>
                    </div>
                  </div>
                </div>
                  
                  
                  
                  
                  
                   <div class="row">
                    
          <div class="col-sm-12 col-xs-12">
                    <h1 style="    font-size: 27px;     margin-bottom: -20px; font-family: 'Raleway', sans-serif;">It's about...</h1>
                  
                       </div>
                  </div>
                  
                  
                  
                  
                  
                  
                  
                  
                   
                  
                  <div class="row">
                    
          <div class="col-md-6">
                    
                    <div class="has-success">
  <div class="checkbox" style="margin-bottom: -7px;">
    <label>
      <input type="checkbox" id="checkboxSuccess" value="option1" style="    height: 30px;
    width: 20px;">
        
        <span style="padding-left: 12px;
    padding-bottom: 31px;
    font-size: 21px;
    /* margin-bottom: -14px; */
    /* border-bottom: 42px; */
    padding-top: -11px;
    margin: 1px;
    padding: 10px;
    color: white;">  Networking Forum </span>
    </label>
  </div>
</div>
                    </div>
                    
                 
                    
          <div class="col-md-6">
                    
                    <div class="has-success">
  <div class="checkbox" style="margin-bottom: -7px;">
    <label>
      <input type="checkbox" id="checkboxSuccess" value="option1" style="    height: 30px;
    width: 20px;">
        
        <span style="padding-left: 12px;
    padding-bottom: 31px;
    font-size: 21px;
    /* margin-bottom: -14px; */
    /* border-bottom: 42px; */
    padding-top: -11px;
    margin: 1px;
    padding: 10px;
    color: white;">Membership</span>
    </label>
  </div>
</div>
                    </div>
                    
                    </div>
                  
                  
                  
                  
                        <div class="row">
                    
          <div class="col-md-6">
                    
                    <div class="has-success">
  <div class="checkbox" style="margin-bottom: -7px;">
    <label>
      <input type="checkbox" id="checkboxSuccess" value="option1" style="    height: 30px;
    width: 20px;">
        
        <span style="padding-left: 12px;
    padding-bottom: 31px;
    font-size: 21px;
    /* margin-bottom: -14px; */
    /* border-bottom: 42px; */
    padding-top: -11px;
    margin: 1px;
    padding: 10px;
    color: white;">Projects</span>
    </label>
  </div>
</div>
                    </div>
                    
                    
                    
          <div class="col-md-6">
                    
                    <div class="has-success">
  <div class="checkbox" style="margin-bottom: -7px;">
    <label>
      <input type="checkbox" id="checkboxSuccess" value="option1" style="    height: 30px;
    width: 20px;">
        
        <span style="padding-left: 12px;
    padding-bottom: 31px;
    font-size: 21px;
    /* margin-bottom: -14px; */
    /* border-bottom: 42px; */
    padding-top: -11px;
    margin: 1px;
    padding: 10px;
    color: white;">Sponsorship</span>
    </label>
  </div>
</div>
                    </div>
                    
                    </div>
                  
                  
                  
                        <div class="row" style="    margin-bottom: 28px;">
                    
          <div class="col-md-6 ">
                    
                    <div class="has-success">
  <div class="checkbox" style="margin-bottom: -7px;">
    <label>
      <input type="checkbox" id="checkboxSuccess" value="option1" style="    height: 30px;
    width: 20px;">
        
        <span style="padding-left: 12px;
    padding-bottom: 31px;
    font-size: 21px;
    /* margin-bottom: -14px; */
    /* border-bottom: 42px; */
    padding-top: -11px;
    margin: 1px;
    padding: 10px;
    color: white;">Impact Assesment</span>
    </label>
  </div>
</div>
                    </div>
                                     
                    
          <div class="col-md-6 col">
                    
                    <div class="has-success">
  <div class="checkbox" >
    <label>
      <input type="checkbox" id="checkboxSuccess" value="option1" style="    height: 30px;
    width: 20px;">
        
        <span style="padding-left: 12px;
    padding-bottom: 31px;
    font-size: 21px;
    /* margin-bottom: -14px; */
    /* border-bottom: 42px; */
    padding-top: -11px;
    margin: 1px;
    padding: 10px;
    color: white;">Any Other</span>
    </label>
  </div>
</div>
                    </div>
                    
                    </div>
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                <div class="row">
                  <div class="col-sm-12 col-xs-12">
                    <div class="form-group" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
                      <div class="input-wrap">
                        <textarea data-ng-model="formData.inputMessage" class="form-control input input__field " rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-sm-12 col-xs-12">
                    <div class="align-center">
                      <button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled"> <span class="mask"></span> <span>send message</span> </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/Contact Sec--> 
  
</div>
<!--/Main Content--> 


<!-- Scripts --> 
<script src="js/jquery-1.11.3.min.js"></script> 
<script src="js/jquery-ui.min.js"></script> 
<script src="js/angular.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/modernizr.custom.js"></script> 
<script src="js/app.js"></script> 
<script src="js/controllers.js"></script> 
<script src="js/owl.carousel.min.js"></script> 
<script src="js/notifyMe.js"></script> 
<script src="js/froogaloop2.min.js"></script> 
<script src="js/wow.min.js"></script> 
<script src="js/jquery.fullpage.js"></script> 
<script src="js/lightgallery-all.js"></script> 
<script src="js/jquery.countdown.js"></script> 
<script src="js/jquery.newsTicker.js"></script> 
<script src="js/classie.js"></script> 
<script src="js/main.js"></script> 
<script src="js/jquery.rotateSlider.js"></script> 
<script src="js/modelclassie.js"></script> 
<script src="js/modalEffects.js"></script> 
<script src="js/jquery.xdomainrequest.min.js"></script> 
<script src="js/tweecool.js"></script> 
<script src="js/jquery.placeholder.js"></script> 
<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script> 
<script src="js/init.js"></script>
<script src="js/css3-animate-it.js"></script>

</body>
</html>
